<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<!--  <div class="row">-->
<!--    <div class="col">{{order_item.firstName}}</div>-->
<!--    <div class="col">{{order_item.lastName}}</div>-->
<!--    <div class="col"></div>-->
<!--    <div class="col">-->
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block " (click)="updateAction($event)">
      <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="btn-sm" *ngFor="let action of actions" (click)="updateAction($event)"
                ngbDropdownItem>{{action}}</button>

      </div>
    </div>
  </div>

</div>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<th scope="rowgroup">{{ item_Index + 1 }}</th>
<td>

  {{ order_item.firstName }}
</td>
<td>{{ order_item.lastName}}</td>
<td>{{ order_item.scheduleDate | date }}</td>
</div>
