<p-toast position="top-center"></p-toast>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <h5 style="color: gray">Add an Order
    <label class="pull-right">
      <i class="fa fa-address-card-o col-5" style="color: blue"></i></label>
  </h5>
  <hr>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6 required">
        <label for="fName" class="control-label">First Name</label>
        <input type="text" [ngClass]="{'is-invalid' :name.invalid && (name.dirty || name.touched)}"
               ngModel #name="ngModel" class="form-control" required name="fName" placeholder="First name" id="fName">
      </div>
      <div class="form-group col-md-6">
        <label for="lName">Last Name</label>
        <input type="text" ngModel class="form-control" name="lName" placeholder="Last Name" id="lName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" ngModel #email="ngModel"
               [ngClass]="{'is-invalid' :email.invalid && (email.dirty || email.touched)}"
               class="form-control" name="email" placeholder="Email" id="email"
               email="true">
      </div>
      <div class="form-group col-md-6 required">
        <label for="phone" class="control-label">Phone number</label>
        <input type="text" ngModel id="phone" class="form-control" name="phone"
               [pattern]="phoneNumberPattern" #phone="ngModel" required
               [ngClass]="{'is-invalid' :phone.invalid && (phone.dirty || phone.touched)}"
               placeholder="Phone Number">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 required">
        <label class="control-label">Schedule Date</label>
        <input type="date" name="scheduleDate" required
               #date="ngModel"
               [ngClass]="{'is-invalid' :date.invalid && (date.dirty || date.touched)}"
               class="form-control" ngModel name="scheduleDate"
               placeholder="dd-mm-yyyy" value=""
               min="1997-01-01" max="2030-12-31">
      </div>
    </div>
    <div class="form-group required">
      <label for="address" class="control-label">Address</label>
      <input type="text" id="address" ngModel #address="ngModel"
             required
             [ngClass]="{'is-invalid' :address.invalid && (address.dirty || address.touched)}"
             class="form-control" name="address" placeholder="1234 Main St">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 required">
        <label for="inputCity" class="control-label">City</label>
        <input type="text" class="form-control" name="inputCity"
               required #city="ngModel"
               [ngClass]="{'is-invalid' :city.invalid && (city.dirty || city.touched)}"
               ngModel id="inputCity">
      </div>
      <div class="form-group col-md-6 required">
        <label for="inputState" class="control-label">State</label>
        <input type="text" id="inputState" ngModel class="form-control"
               required #state="ngModel"
               [ngClass]="{'is-invalid' :state.invalid && (state.dirty || state.touched)}"
               name="inputState" placeholder="State">
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="zipCode">Postal/Zip Code</label>
        <input type="text" id="zipCode" class="form-control" name="inputZip" ngModel>
      </div>
      <div class="form-group col-md-6 required">
        <label for="country" class="control-label">Country</label>
        <select id="country" class="form-control" name="country" ngModel
                #country="ngModel"
                [ngClass]="{'is-invalid' :country.invalid && (country.dirty || country.touched)}">
          <option selected>Choose...</option>
          <option *ngFor="let country of countries">{{country}}</option>
        </select>

      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-danger mr-2" (click)="slForm.resetForm()">Cancel</button>
      <button type="submit" class="btn btn-success btn-md" [disabled]="!f.valid" pRipple>Submit</button>
    </div>
  </form>
</div>
