.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.assigned{
  background-color: #337ab7;
  border-color:#336ab5
}
.pending{
  background-color: white;
  color: #000;
}
.onroute{
  background-color:
    #f0ad4e;
  background-color:#f0ad2e;border-color:#f1ad4e
}
.cancelled{
  color:#fff;background-color:#dc3545;border-color:#dc3545
}
.done{
  color:#fff;background-color:#28a745;border-color:#28a745
}
.table th{
  border-top: none;
}
.btn-custom-w{
  height: 30px;
}
