<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <h5 style="color:gray">Existing Orders
    <label class="pull-right">
      <i class="fa fa-check-square-o col-5" style="color: blue"></i></label>
  </h5>
  <hr>
  <table class="table table-responsive-md">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date</th>
    </tr>

    <tbody>
    <tr *ngFor="let order of (ordersListSub$ | async)?.result  ;index as i">

      <td>
        {{ order.first_name }}
      </td>
      <td>{{ order.last_name}}</td>
      <td>{{ order.scheduled_date | date }}</td>
      <td class="text-right ">
        <div class="dropdown d-inline-block mr-2 ">
          <button class="btn btn-sm btn-secondary dropdown-toggle  ml-lg-3 btn-custom-w" type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  [ngClass]="{'assigned' : order.status_id===0,
                                          'done': order.status_id===3,
                                          'cancelled': order.status_id===4,
                                          'onroute':order.status_id===2,
                                           'pending': order.status_id===1}">
            {{status[order.status_id].name.toUpperCase()}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonc">
            <li class="btn btn-sm cursor-pointer dropdown-item" *ngFor="let action of status" [value]="action.value"
                (click)="updateAction(order, $event)"
                [ngClass]="{'assigned' :action.value===0,
            'done': action.value===3,
            'cancelled': action.value===4,
            'onroute': action.value===2,
            'pending': action.value===1}"

            >{{action.name| uppercase}}</li>

          </div>
        </div>
        <button type="button" class="btn btn-danger btn-circle"
                [disabled]="!(order.status_id ===1||order.status_id===0)" (click)="deleteOrder(order.id)">
          <i class="fa fa-times"></i>
        </button>

      </td>

    </tr>
    </tbody>
  </table>
</div>
