.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.assigned{
  background-color: blue;
}
.pending{
  background-color: white;
  color: #000;
}
.onroute{
  background-color: orange;
}
.cancelled{
  color:#fff;background-color:#dc3545;border-color:#dc3545
}
.done{
  color:#fff;background-color:#28a745;border-color:#28a745
}
.table th{
  border-top: none;
}
.btn-custom-w{
  width: 120px;
}
